.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #1A3A5C;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: bold;
}

.naoPossuiCadastro{
    display: flex;
    justify-content: end;
}